{% extends "base.html" %}
{% load static  wagtailimages_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/big-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle9.min.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="swiper BigSwiper">
        <div class="swiper-wrapper">
{# big slider start#}
            {% for slider_image in page.slider_images.all %}
                {% if slider_image.project.image_slider_big %}
                {% image slider_image.project.image_slider_big original as img_url %}
                {# <a href="{{ slider_image.project.url }}"> #}
                <div class="swiper-slide project-image-block"
                            style="background-image: url('{{ img_url.url }}');
                            background-size: cover; background-position: center;">
                </div>
                {#</a> #}
                {% endif %}
            {% endfor %}
{# big slider end#}

        </div>
    <style>
        .swiper-button-prev {
            background-image: url('{% static "img/nav-grey-left.svg" %}');
            width: 50px;
            height: 50px;
            background-size: cover;
            cursor: pointer;
            }
            .swiper-button-prev:hover {
                background-image: url('{% static "img/nav-grey-left-active.svg" %}');
            }

        .swiper-button-next {
            background-image: url('{% static "img/nav-grey-right.svg" %}');
            width: 50px;
            height: 50px;
            background-size: cover;
            cursor: pointer;
            }
            .swiper-button-next:hover {
                background-image: url('{% static "img/nav-grey-right-active.svg" %}');
            }
        @media (max-width: 768px) {
            .swiper-pagination,
            .swiper-button-next,
            .swiper-button-next:hover,
            .swiper-button-prev,
            .swiper-button-prev:hover {
                display: none;
            }
        }
    </style>
    <div class="swiper-button-next" ></div>
    <div class="swiper-button-prev" ></div>
    <div class="swiper-pagination"></div>
    </div>
{# tv-chart today slider#}

{# tv-chart today slider end#}


  <!-- Initialize Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".BigSwiper", {
      loop: true,
        slidesPerView: 1,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      keyboard: true,
    });
  </script>
{# about-block#}
    <section class="home-about">
      <div class="home-about-wrapper">
        <div class="home-about-text-block">
          <div class="home-about-title-block">
            <div class="home-about-small-text">{{ self.about_name }}</div>
            <div class="home-about-title">{{ self.about_title }}</div>
          </div>
          <div class="home-about-text">
              {{ self.about_description | safe}}

          </div>
        </div>
        <div class="home-about-pic-block">
            {% image self.about_picture original as about_img_url %}
          <img src="{{ about_img_url.url }}" alt="{{ self.about_title }}" />
        </div>
      </div>
    </section>

{# about-block end#}

{# manusl #}
    <section class="home-manual">
      <div class="home-manual-wrapper">
        <div class="home-manual-title-block">
          <div class="home-manual-title-block-a">
            <div class="home-manual-block-a-line1">
                {{ self.manual_name | safe }}
            </div>
            <div class="home-manual-title">
                {{ self.manual_title }}
            </div>
          </div>
          <div class="home-manual-title-astericks">
              {{ self.manual_text }}
          </div>
        </div>
        <div class="home-manual-text">
{% for manual_step in self.manual_step.all %}
{% image manual_step.step_picture original as manual_pic %}
          <div class="home-manual-block-pick">
            <div class="home-manual-pick">
              <img src="{{ manual_pic.url }}" alt="" />
            </div>
            <div class="home-manual-pick-text">{{ manual_step.about_name }}</div>
          </div>
{% endfor %}
        </div>
      </div>
    </section>

{# manusl end#}

{# broadcasters#}
    <section class="home-broadcasters">
      <div class="home-broadcasters-wrapper">
        <div class="home-broadcasters-text-block">
          <div class="home-broadcasters-text-breadcrumb">{{ self.online_name }}</div>
          <div class="home-broadcasters-title-block">
            <div class="home-broadcasters-title">{{ self.online_title }}</div>
            <div class="home-broadcasters-text">{{ self.online_text | safe }}</div>
          </div>
        </div>
        <div class="home-broadcasters-list-block">
            {% for online_tv in self.online_tv.all %}

{% image online_tv.logo_provider original as provider_logo %}
          <div class="home-broadcaster-pic">
            <img src="{{ provider_logo.url }}" alt="" />
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
{# broadcasters end#}

{% endblock content %}
