footer {
  width: 100%;
  height: 401px;
  /*margin-top: 70px;*/
  background-color: var(--main-color1);
  color: var(--main-color2);
  padding-top: 70px;
}
.footer-wrapper {
  max-width: 1040px;
  height: 261px;
  position: relative;
  margin-inline: auto;
  padding-bottom: 30px;
}
.footer-logo {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-social {
  position: absolute;
  /*width: 200px;*/
  height: 50px;
  left: 0;
  bottom: 0px;
}
.footer-contact-block {
  position: absolute;
  height: 261px;
  width: 684px;
  display: flex;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

/* footer address block */
.footer-address-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 175px;
}
.footer-address-block-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 175px;
  display: none;
}
.footer-address-block1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.footer-address-block1-a1 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer-address-block1-a2 {
  flex-direction: column;
  display: flex;
  color: var(--main-color2);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-address-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.footer-address-block2-a1 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.footer-address-block2-a2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.footer-address-block2-a2-b1 {
  align-self: stretch;
  color: var(--main-color2);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* footer contact form */
.footer-form {
  display: flex;
  width: 417px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-form-title {
  margin-bottom: 20px;
  align-self: stretch;
  color: var(--main-color2);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.footer-form-fields-contact {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.footer-form-name {
  width: 203.5px;
  height: 50px;
  padding: 20px;
  background: var(--main-color2);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.footer-field-string {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
  word-wrap: break-word;
}

.footer-form-email {
  width: 203.5px;
  height: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 20px;
  background: var(--main-color2);
  overflow: hidden;
}

.footer-form-fields-data {
  width: 417px;
  height: 50px;
  padding: 20px;
  margin-bottom: 10px;
  background: var(--main-color2);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.footer-form-button {
  width: 417px;
  height: 51px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 70px;
  border: 1px var(--main-color2) solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}
.footer-form-button-name {
  color: var(--main-color2);
  background-color:unset;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
@media (max-width: 1050px) {
  footer {
    padding-inline: 10px;
  }
}
@media (max-width: 900px) {
  footer {
    height: auto;
  }
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
}
  .footer-logo,
  .footer-contact-block,
  .footer-social {
    position: relative;
    margin-inline: 0 !important;
  }
}
@media (max-width: 768px) {
  .projects-page-buttons-block {
    flex-wrap: wrap;
    margin-inline: 0;
  }
  .footer-contact-block {
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 30px;
  }
  .footer-address-block {
display:none
  }
  .footer-address-block-2 {
    display:flex;
    margin-inline:auto
  }
  .footer-form {

  }
  .footer-form-title {
    text-align: center;
  }
  .footer-address-block-2,
  .footer-address-block1,
  .footer-address-block1-a1 {
    width: auto;
    text-align: center;
    margin-inline:auto;
  }
  .footer-address-block2-a1 {
    margin-inline:auto;
  }
  .social-icon-block {
    position: absolute;
    top: 50%;
  }
}

@media (max-width: 450px) {
  .footer-form{
    width: 100%;
  }
  .footer-form-fields-contact {
    flex-direction: column;
  }
  .footer-form-name,
  .footer-form-email,
  .footer-form-fields-data,
  .footer-form-button {
    width: 100%;
  }

}