.wrapper {
  min-height: 100%;
}
main {
  width: 100%;
}

.page {
  padding: 90px 0px 0 0px; /* top-menu 90px! */
}
.page__section {
  max-width: var(--content-max-width);
  margin: 0px auto;
}

/*-- social block --*/
.social {
}
.social-icons-block {
  display: inline-flex;
align-items: flex-start;
gap: 13px;
}

.soc-icon-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* -- announce block -- */
.announce-block {
  width: 100%;
}
/* ----media----- */

