{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/week-chart.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="tvchart-title-block">
    <div class="tvchart-title-wrapper">
    <div class="tvchart-title-block-content">
        <div class="tvchart-page-title-block">
            {{ self.title }}
        </div>
        <div class="tvchart-days-buttons-block">
            {% for day in week_days %}
            <div class="tvchart-day-button {% if day.is_today %} tvchart-today{% endif %}">
                <div class="tvchart-day-name{% if day.is_today %}-today{% endif %}">{{ day.day_name }}</div>
                <div class="tvchart-day-date{% if day.is_today %}-today{% endif %}">{{ day.day_date|date:"j E" }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

{% for day in days_of %}
<!-- {{ day.day_date|date:"j E" }} -->
<section class="tvchart-day-list">
{% for chart_line in day.chart_lines %}
    <div class="tvchart-chart-line">
        <div class="tvchart-chart-line-time">
            <span class="tvchart-time">{{ chart_line.start_time|date:"H:i"  }}</span>
        </div>
        <div class="tvchart-chart-line-pict">
            {% image chart_line.project_of_program.specific.feed_image original as line_image %}
            <div class="tvchart-image" >
                <img src="{{ line_image.url}}" style="width: 100%;height: 100%;border-radius: 20px;"/>
            </div>
        </div>
        <div class="tvchart-chart-line-text-block">
            <div class="tvchart-chart-line-title">{{ chart_line.program_title }}</div>
            <div class="tvchart-chart-line-text">
                {% if chart_line.project_of_program.specific.description_short %}
                    {{ chart_line.project_of_program.specific.description_short| safe  | truncatechars:200 }}
                {% else %}
                    Немає опису проєкту
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</section>
{% endfor %}

{% endblock content %}
