/* big swiper buttons */
.swiper {
    display: flex;
    }
.BigSwiper {
    max-width: var(--big-slider-max-width);
    height: 100%;
    aspect-ratio: 1380 / 551;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 /* nav buttons https://github.com/nolimits4web/swiper/discussions/4998*/

/*-- big slider carousel buttons demo --*/

      .big-section__button {
        display: none;
      }
      @media screen and (min-width: 768px) {
        .big-section__button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
      }
      .carousel-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        padding: 0;
        fill: var(--color-primary-dark);
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        border: 1px solid var(--color-primary-dark);
        cursor: pointer;
      }
      .carousel-button:hover {
        background-color: var(--color-primary-dark);
        fill: var(--color-primary-light);
      }
      .carousel-button.next {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      /* pagination */
      .slider-nav-block {
        display: flex;
        justify-content: space-between;
        max-width: 1040px;
        margin: 0 auto 40px auto;
      }
      .slider-nav-buttons {
        display: flex;
        gap: 5px;
        justify-content: space-between;

        margin: 0 auto;
      }
      .pagination {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        gap: 5px;
      }
      .pagination__button {
        width: 6px;
        height: 6px;
        padding: 0;
        background-color: var(--color-secondary-dark);
        border-radius: 50%;
      }
      .pagination__button--active {
        background-color: var(--color-brand-normal);
      }

      /* Base styles for the slider */
.project-image-block {
    background-size: cover;
    background-position: center;
    width: 100%; /* adjust as necessary */
    height: 100%; /* adjust as necessary */
}

/* Hide the mobile image by default */
.project-image-block .mobile-image {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* CSS Media Query for Mobile Devices */
@media (max-width: 768px) {
    /* Hide the desktop background image */
    .project-image-block {
        background-image: none !important; /* Override inline styles */
        height: 100%;
    }
    /* Display the mobile background image */
    .project-image-block .mobile-image {
        display: block;
        border-radius: 20px;
    }
    .BigSwiper {
        max-width: 100%;
        height: 100%;
        aspect-ratio: 335 / 600;
    }
    .BigSwiper .swiper-pagination,
    .BigSwiper .swiper-button-next,
    .BigSwiper .swiper-button-next:hover,
    .BigSwiper .swiper-button-prev,
    .BigSwiper .swiper-button-prev:hover,
    .BigSwiper .chart-arrow-prev,
    .BigSwiper .chart-arrow-next{
        display: block !important;
    }
    .BigSwiper .swiper-button-next,
    .BigSwiper .swiper-button-next:hover,
    .BigSwiper .swiper-button-prev,
    .BigSwiper .swiper-button-prev:hover,
    .BigSwiper .chart-arrow-prev,
    .BigSwiper .chart-arrow-next {
        bottom: 20px !important;
    }
    .swiper-pagination {
        bottom: 40px !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 2vw !important;
    left: auto;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
    right: calc(4vw + 50px);
    left: auto;
    }
        .swiper-pagination {
        display: inherit !important;
    }
    .swiper-pagination-bullet {
        background-color: rgba(255, 255, 255, 0.40);
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	/* bottom: var(--swiper-pagination-bottom, 8px); */
	bottom: 40px;
	top: var(--swiper-pagination-top, auto);
	/* left: 0; */
	left: 20px;
	width: calc(90vw - (4vw + 120px));
        overflow: hidden;
}
}
