
.projects-title-block {
    max-width: 1380px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E8E6EA;
    margin: 30px auto;
}
.projects-title-wrapper {
        max-width: 1040px;
        min-height: 132px;
        margin: 0 auto;
}
.projects-title-block-content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 5px;
}
.projects-type-button {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid #6C5282;
    color: #6C5282;
}
.projects-type-button:hover {
    color: #F6F6F6;
    background: #6C5282;
    border-radius: 60px;
}
.projects-page-title-block {
    color: #1B1B1B;
}
.projects-page-title-block h1 {
    leading-trim: both;
    text-edge: cap;

    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.projects-page-buttons-block {
    display: flex;
    align-items: flex-start;
    gap: 13px;
    flex-wrap: wrap;
}
.projects-list-block-wrapper {
    max-width:1040px;
    margin-inline: auto;
    margin-bottom: 80px;
}
.projects-list-block {
    width:100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.projects-list {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    gap: 28px;
}
.projects-list-button-block {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid #6C5282;
}
.project-list-block-element {
    width:328px;
    height:274px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.project-list-element-picture {
    width: 328px;
    height: 207px;
    border-radius: 20px;
}
.project-list-element-picture img{
    width: 100%;
    aspect-ratio: 328 / 207;
    border-radius: 20px;
}
.project-list-text-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.project-list-element-title {
}
.project-list-element-title h2 {
    color: #1B1B1B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.project-list-element-type {
    color: #A5A5A5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 744px) {

    .projects-page-buttons-block a,
    .projects-type-button {
        outline: none;
    }
    .projects-page-title-block h1{
        font-size: 48px;
    }
    .projects-list {
        justify-content: center;
    }
    .project-list-block-element {
        width: 100%;
        height: auto;
    }
    .project-list-element-picture {
        width: 100%;
        height: auto;
        aspect-ratio: 328 / 207;
    }
    .projects-page-buttons-block a {
        margin: 0 auto;
    }
    .projects-page-title-block {
        margin-inline: auto;
    }
    .projects-page-buttons-block {
        margin-inline: auto;
    }
}
@media (max-width: 400px) {
    .wrapper-content,
    .projects-title-block {
        min-width: 290px;
    }
    .projects-page-buttons-block {
        flex-direction: column;
    }
    .projects-type-button {
        min-width: 250px;
    }
    .projects-type-button span {
        margin: 0 auto;
    }
}