.project-container {
    max-width: 1440px;
    margin: 0 auto;
}

.project-breadcrump-line {
  max-width: 1040px;
  margin: 25px auto;
  display: flex;
  gap: 5px;
}
.project-breadcrump-icon {
}
.project-breadcrump-parent-page {
    color: #6C5282;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.project-breadcrump-page-title {
    color: #6C5282;
    leading-trim: both;
    text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.project-image-wrapper {
    position: relative;
    max-width: var(--big-slider-max-width);
    height: 100%;
    margin-bottom: 70px;
}
.project-image-block {
    width: 100%;
    aspect-ratio: 1380 / 551;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.project-mobile-image {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
}
.project-image-text-container {
    position: absolute;
    margin-inline: auto;
    width: 80%;
    left: 5dvw;
    bottom: 5dvh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    color: white; /* Ensures text is visible on dark backgrounds */
    /*text-align: center;*/
    z-index: 1; /* This ensures it is on top of all other content */
}
.project-image-title-block {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}
.project-image-title-block-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.project-image-text-block {
    margin-top: 80%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.project-content-block {
    max-width:1040px;
    margin-inline: auto;
    margin-bottom: 140px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
}
.project-title {
}
.project-title h2{
    color: #1B1B1B;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.project-tags {
    display: flex;
    gap: 0.5em;
}
.project-button-tag {
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center;
    justify-content:center;
    border-radius: 60px;
    border: 1px solid rgba(166, 104, 127, 0.20);
}
.project-description-block {
    display: flex;
    max-width: 1040px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    color: var(--text, #4E4E4E);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.project-read-more {}

@media (max-width: 768px) {
    .project-image-title-block {
        font-size:45px;
    }
    .project-image-block {
        background-image:none !important;
        aspect-ratio: 335 / 600;
    }
    .project-mobile-image {
        display: block !important;
        background-repeat: no-repeat;
        background-size: cover ;
    }

}
@media (max-width: 500px) {
    .project-image-title-block {
        font-size:40px;
    }
    .project-button-tag {
        justify-content: flex-start;
        padding-inline: 30px;
    }
    .project-tags {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .project-duration {
        justify-content: center;
    }
    .project-title h2 {
        font-size: 28px;
    }

}