.tvchart-title-block {
    max-width: 1380px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F2E9E9;
    margin: 30px auto;
    overflow: hidden;
}
.tvchart-title-wrapper {
    max-width: 1080px;
    min-height: 228px;
    margin: 0 auto;
}
.tvchart-title-block-content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.tvchart-page-title-block {
    color: #1B1B1B;
    leading-trim: both;
    text-edge: cap;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-inline-start: 25px;
}
.tvchart-header-block {
    max-width: var(--big-slider-max-width);
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.tvchart-header-title-block {
    color: #1B1B1B;
    leading-trim: both;
    text-edge: cap;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.tvchart-chart-block {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.tvchart-title-block-content {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

}
.tvchart-days-buttons-block {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.tvchart-day-button {
    display: flex;
    width: 135.714px;
    padding: 40px 25px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
}
.tvchart-day-button:hover {
    border: 1px solid #6C5282;
}
.tvchart-today {
    border-radius: 20px;
    background: #D89C9C;
}
.tvchart-day-name-today,
.tvchart-day-name {
    color: #D89C9C;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.tvchart-day-name-today {
    color: #FFF;
}
.tvchart-day-date-today,
.tvchart-day-date {
    color: #D89C9C;
    text-align: center;
    /*font-size: 16px;*/
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    min-width: 58px;
}
.tvchart-day-date-today {
    color: #FFF;
}
/* Day chart list  */
.tvchart-day-list {
    display: flex;
    max-width: 1040px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin:30px auto;
}
.tvchart-chart-line {
    position:relative;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
}
.tvchart-chart-line-time,
.tvchart-chart-line-time-playing {
    display: flex;
    width: 140px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
}

.tvchart-chart-line-time-playing {
    width:140px;
    color:#D89C9C;
    flex-direction: column;
}
.tvchart-time {
    width: 125px;
    flex-shrink: 0;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tvchart-time-now {
    width: 125px;
    flex-shrink: 0;
    color: #D89C9C;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.selected-day { /* when clicked day block selected */
    border: 2px solid var(--main-color1);
}
.tvchart-now {
    position: absolute;
    left: 8px;
    top: 49.5px;
    color: #D89C9C;
    /*font-size: 16px;*/
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.tvchart-chart-line-pict {
    display: flex;
    width: 308px;
    height: 190px;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    aspect-ratio: 308 / 190;
}
.tvchart-image {
    width: 100%;
    height: 100%;
}
.tvchart-chart-line-text-block,
.tvchart-chart-line-text-block-playing {
    max-width: 503px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.tvchart-chart-line-text-block-playing {
    color: #D89C9C;
}
.tvchart-chart-line-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tvchart-chart-line-text {
    max-width: 506px;
    color: var(--text, #4E4E4E);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

@media (max-width: 768px) {
    .wrapper-content {
        margin: 0 20px;
    }
    .tvchart-title-wrapper {
        min-height: auto;
    }
    .tvchart-page-title-block{
        display: none;
    }
    .tvchart-day-button {
        width: 91.58px;
        height: 98px;
        gap: 8px;
        padding: 18px 16px;
    }
    .tvchart-chart-line {
        flex-direction: column;
        align-items: flex-start;
    }
    .tvchart-chart-line-text-block,
    .tvchart-chart-line-text-block-playing {
        padding: 0 20px;
    }
    .tvchart-day-name,
    .tvchart-day-name-today {
        font-size:2.025rem;
    }
    .tvchart-day-date,
    .tvchart-day-date-today {
        font-size:0.675rem;
    }

    .tvchart-chart-line-time {
        width:auto;
        padding: 0;
        margin-left: 20px;
    }
    .tvchart-chart-line-time-playing {
        flex-direction: row;
        justify-content: flex-start;
        margin-left:20px;
        padding: 0;
        width:auto;
    }
    .tvchart-time {
        order: -1;
        width: auto;
    }
    .now-playing {
        width: auto;
        display: flex;
        padding: 4px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 40px;
        background: #D89C9C;
        color: #F6F6F6;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .tvchart-chart-line-pict {
        order: -1;
        max-height:100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .tvchart-chart-line-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .tvchart-chart-line-text {
        display: none;
    }
    .tvchart-time {
        width: auto;
        padding: 0;
        line-height: 0.9;
    }
    .tvchart-chart-line {
        gap:10px
    }
}