{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags  %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects-list.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="projects-title-block">
    <div class="projects-title-wrapper">
    <div class="projects-title-block-content">
        <div class="projects-page-title-block">
            <h1>{{ self.title }}</h1>
        </div>
{#        <div class="projects-page-buttons-block">#}
{#            <a href="{% pageurl page %}">#}
{#                <div class="projects-type-button"> <span>Всі проекти</span></div>#}
{#                </a>#}
{#            {% for project_type in project_types %}#}
{#             <a href="{% pageurl page %}?type={{ project_type.id }}">#}
{#                 <div class="projects-type-button"> <span>{{ project_type.name }}</span></div>#}
{#             </a>#}
{#            {% endfor %}#}
{#        </div>#}

        <div class="projects-page-buttons-block">
            <button class="projects-type-button" onclick="location.href='{% pageurl page %}'">
                <span>Всі проекти</span>
            </button>
            {% for project_type in project_types %}
             <button class="projects-type-button" onclick="location.href='{% pageurl page %}?type={{ project_type.id }}'">
                 <span>{{ project_type.name }}</span>
             </button>
            {% endfor %}
        </div>
    </div>
    </div>
</section>

<section class="projects-list-block-wrapper">
    <div class="projects-list-block">
        <div class="projects-list">
            {% for item in projects %}
            <div class="project-list-block-element">
                <div class="project-list-element-picture">
                    {% image item.feed_image width-328 as img_url %}
                    <img src="{{img_url.url}}">
                </div>
                <div class="project-list-text-block">
                     <a href="{% pageurl item %}">
                    <div class="project-list-element-title">
                        {{item.title}}
                    </div>
                     </a>
                    <div class="project-list-element-type">
                        {{item.project_type}}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="projects-list-button-block" style="display:none;">
            Показати більше
        </div>
    </div>
</section>
{% endblock content %}
